<div class="container mt-5">
    <%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group row">
      <div class="col-sm-6 mb-3">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, autofocus: true, accept: '.jpeg, .jpg, .gif, .png, .bmp', class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3">
        <%= f.label :video, "動画" %>
        <%= f.file_field :video, autofocus: true, accept: '.mp4, .m4v, .avi, .mov', class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3">
        <%= f.label :title, "題名" %>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <%= f.label :caption, "説明" %>
        <%= f.text_area :caption, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <%= f.label :name, "タグ (,で区切ると複数タグ登録できます)" %>
        <%= f.text_field :name, value: @tag_list, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <%= f.submit "編集内容を保存",class: "btn btn-success" %>
    <% end %>
    <br>
    <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
</div>