<div class="container">
  <h2>投稿一覧</h2>
	  <div class="row">
	    <div class="search-form">
        <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
        <% end %>
      </div>
		  <% @posts.each do |post| %>
  		  <div class="col-xs-3">
  		    <table class="table table-bordered">
            <tr>
              <td><%= link_to post_path(post) do %>
                  <%= image_tag post.get_image(100,100) %>
                  <% end %>
              </td>
              <td><%= link_to post_path(post) do %>
                  <%= video_tag post.get_video %>
                  <% end %>
              </td>
            </tr>
            <tr>
              <td><%= link_to post.title, post_path(post) %></td>
            </tr>
            <tr>
              <td><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
</div>
