<div class="container">
  <div class="row">
    <div class="col-12" style="height: 1000px">

    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_with model: @post, local: true do |f| %>
    <div class="field mb-3">
      <label>★画像のアップロード</label></br>
      <%= f.file_field :image, accept: '.jpeg, .jpg, .gif, .png, .bmp' %>
    </div>
    <div class="mb-3">
      <label>★動画のアップロード</label></br>
      <%= f.file_field :video, accept: '.mp4, .m4v, .avi, .mov' %>
    </div>
    <div class="mb-3">
      <label>★題名</label></br>
      <%= f.text_field :title, autofocus: true, placeholder: "(例)台北101の~~"%>
    </div>
    <div class="mb-3">
      <label>★説明</label></br>
      <%= f.text_area :caption %>
    </div>
    <div class="mb-3">
      <label>★タグ（カンマ「,」で複数追加可能）</label></br>
      <%= text_field :tag, :name %>
    </div>
    <div class="mb-3">
      <label>★緯度</label></br>
      <%= f.text_field :latitude, class: 'form-control', readonly: true %>
    </div>
    <div class="mb-3">
      <label>★経度</label></br>
      <%= f.text_field :longitude, class: 'form-control', readonly: true %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <input type="button" class="btn btn-outline-success" value="検索する" onclick="codeAddress()">
      </div>
      <%= f.text_field :address, id: 'address', placeholder: '現在地から好きな場所を検索できます', class: 'form-control' %>
    </div>

      <%= f.submit "投稿" ,class: "btn btn-primary" %>

    <% end %>




<div id='map'></div>

<style>
#map {
  height: 50vh;
  width: 60vw;
  margin: 0 auto;
}
</style>

<script>
  let map
  let geocoder

  function initMap(){
    geocoder = new google.maps.Geocoder()
    if(!navigator.geolocation) {
      alert('Geolocation APIに対応していません');
      return false;
    }

    navigator.geolocation.getCurrentPosition(function(position) {
      latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

      map = new google.maps.Map(document.getElementById('map'), {
        center: latLng,
        zoom: 12,
      });

      marker = new google.maps.Marker({
        position:  latLng,
        map: map
      });

      google.maps.event.addListener(map, 'click', clickEvent)

    }, function() {
        alert('位置情報取得に失敗しました');
      });
  }

  function clickEvent(event) {
    marker.setMap(null);
    marker = new google.maps.Marker({
      position: event.latLng,
      map: map
    });
    $('#post_latitude').val(event.latLng.lat());
    $('#post_longitude').val(event.latLng.lng());
  }

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        // let marker = new google.maps.Marker({
        //   map: map,
        //   position: results[0].geometry.location
        // });
      } else {
          alert('該当する結果がありませんでした：' + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
    </div>
  </div>
</div>


