<div class="container">
  <div class="row">
    <div class="col-12" style="height: 1000px">
      <div class="mt-5">
      <!--form_with内でないためエラーテンプレートは使わず-->
      <% if @error_comment.present? %>
        <div class="alert alert-danger">
          <ul class="list-unstyled">
            <h2><%= @error_comment.errors.count %>件のエラー</h2>
            <% @error_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      </div>

      <div class="title01 mb-3">
        <%= image_tag @post.get_image(500,500) %>
      </div>
      <% if @post.video.attached? %>
      <div class="mb-3">
        <video src="<%= rails_blob_path(@post.video) %>" width="50%" type="video/mp4" controls></video>
      </div>
      <% end %>
      <% @post_tags.each do |tag| %>
      <div class="tag mb-3">
        <%= link_to tag.name,search_tag_posts_path(tag_id: tag.id), class: 'text-white' %>
        <%="(#{tag.posts.count})" %>
      </div>
      <% end %>

      <div class="show-title mb-3">
        <h3><%= @post.title %></h3>
      </div>
      <div class="mb-3">
        <%= @post.caption %>
      </div>

      <% unless current_end_user.email == 'ttt@ttt.com' %>
        <div class="mb-3">
          <% if @post.liked_by?(current_end_user) %>
            <p><%= link_to post_likes_path(@post), method: :delete do %>
              ♥<%= @post.likes.count %> いいね
              <% end %>
            </p>
          <% else %>
            <p><%= link_to post_likes_path(@post), method: :post do %>
              ♡<%= @post.likes.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="mb-3">
          <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      <% else %>
      <% end %>
        <div class="mb-3">
          <p>コメント件数：<%= @post.comments.count %></p>
            <% @post.comments.each do |comment| %>
          <p><%= image_tag comment.end_user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %></p>
          <p><%= comment.end_user.name %></p>
          <p><%= comment.comment %>
              <!--コメントしたユーザーがログイン中のユーザーの時-->
              <% if comment.end_user == current_end_user %>
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
              <!--投稿したユーザーがログイン中のユーザーの時-->
              <% elsif @post.end_user == current_end_user %>
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
              <% end %>
          </p>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
            <% end %>
        </div>

        <hr class="hr-show">
        <div class="mb-3">
          <%= image_tag @post.end_user.get_profile_image(100,100) %>
          <label>ユーザー名：<%= @post.end_user.name %></label>
        </div>
        <div class="mb-3">
          <label>投稿日</label></br>
          <%= @post.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="text-center">
          <% if @post.end_user == current_end_user %>
            <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success text-center"%>
          <% end %>
        </div>
    </div>
  </div>
</div>