<div class="container">
  <h2>投稿詳細画面</h2>
  <div class="row">
    <div class="col-12" style="height: 1000px">
      <div class="field mb-3">
        <%= image_tag @post.get_image %>
      </div>
      <div class="mb-3">
        <label>題名</label></br>
        <%= @post.title %>
      </div>
      <div class="mb-3">
        <label>説明</label></br>
        <%= @post.caption %>
      </div>
      <div class="mb-3">
        <%# タグ %>
      </div>
      <div class="mb-3">
        <label>ユーザー画像</label></br>

      </div>
      <div class="mb-3">
        <label>ユーザーネーム</label></br>
        <%= @post.user.name %>
      </div>
      <div class="mb-3">
        <label>投稿日</label></br>
        <%= @post.created_at.strftime('%Y/%m/%d') %>
      </div>

    </div>
  </div>
</div>