<div class="container">
  <h2 class="admin-title">新規会員登録</h2>

    <%= form_with model: @end_user, url: end_user_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group row">
      <div class="col-sm-6 mb-3">
      <%= f.label "名前" %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3">
        <%= f.label "メールアドレス" %>
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3">
        <%= f.label "パスワード（6文字以上）" %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3">
        <%= f.label "パスワード再入力" %>
        <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
    <% end %>

  <h3 class="mb-2 mt-5">既に登録済みの方</h3>

    <%= link_to "こちら", new_end_user_session_path %>
    <span> からログインしてください。</span>
    <p id="notice"><%= notice %></p>

</div>
