<div class="container">
  <h2 class="admin-title"><%= @end_user.name %>さんのユーザー情報編集</h2>

      <%= form_with model: @end_user, url: admin_end_user_path(@end_user), method: :patch do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group row">
        <label for="staticID" class="col-sm-2 col-form-label">ユーザーID</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%= @end_user.id %>">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, autofocus: true, class: "form-control w20" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <%= f.label :is_deleted, "会員ステータス" %>
          <br>
          <%= f.select :is_deleted, [["有効","false"], ["退会","true"]], class:"form-control" %>
        </div>
      </div>
      <%= f.submit "編集内容を保存する", class: "btn btn-primary"%>
      <% end %>

  </div>
